@import 'vendor/normalize';

html, body {
  font-family: "adelle-sans", sans-serif;
  color: #fff;
  -webkit-font-smoothing: anti-aliased;
}

p {
  margin: 0;
}

.panel {
  display: block;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
.panel-center {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

div.panel[data-panel="start"] {
  background: rgb(118,141,141);
  background: -moz-linear-gradient(-45deg, rgba(118,141,141,1) 6%, rgba(210,205,189,1) 53%, rgba(166,186,181,1) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(6%,rgba(118,141,141,1)), color-stop(53%,rgba(210,205,189,1)), color-stop(100%,rgba(166,186,181,1)));
  background: -webkit-linear-gradient(-45deg, rgba(118,141,141,1) 6%,rgba(210,205,189,1) 53%,rgba(166,186,181,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(118,141,141,1) 6%,rgba(210,205,189,1) 53%,rgba(166,186,181,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(118,141,141,1) 6%,rgba(210,205,189,1) 53%,rgba(166,186,181,1) 100%);
  background: linear-gradient(135deg, rgba(118,141,141,1) 6%,rgba(210,205,189,1) 53%,rgba(166,186,181,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#768d8d', endColorstr='#a6bab5',GradientType=1 );
}
div.panel[data-panel="answer-yes"] {
  background-color: green;
}
div.panel[data-panel="answer-no"] {
  background-color: blue;
}


// Proof of concept. Transitions coming soon
body[data-state="start"] {
  div[data-panel="start"] { display: block; }
  div[data-panel="answer-yes"] { display: none; }
  div[data-panel="answer-no"] { display: none; }
}

body[data-state="answer-yes"] {
  div[data-panel="start"] { display: none; }
  div[data-panel="answer-yes"] { display: block; }
  div[data-panel="answer-no"] { display: none; }
}

body[data-state="answer-no"] {
  div[data-panel="start"] { display: none; }
  div[data-panel="answer-yes"] { display: none; }
  div[data-panel="answer-no"] { display: block; }
}
